:root {
    --navforeground: #fff; // gallery sticky nav color
    --navfutforeground: #777; // gallery sticky nav future items color
}

.explainbox {
    position: absolute;
    right: calc(max(60px, 5vw)); // rightfield is min 60px and 5vw
    margin-right: 10px; // add space to rightfield
    margin-left: 30px;
    bottom: 3em;
    max-width: 960px;
    background: #fff;

    padding: 10px; // this is the border outside the dashed line, the reason for explainbox to exist

    h4,
    h5 {
        font-size: 100%;
        margin-top: 0;
    }
    h4 {
        margin-bottom: 1em;
    }
    h5 {
        margin: 0;
    }
    opacity: 0;
    transition: opacity 450ms;

    .explain {
        border: dashed 2px #333;
        padding: 1em;
        column-count: 3;
        gap: 2em;

        :last-child {
            margin-bottom: 0;
        }
    }
}

body.showexplain {
    .explainbox {
        opacity: 1;
    }
    #gallery section:not(.fin) {
        .imgcontainer,
        .explainbox {
            cursor: url('https://snuup.github.io/img/messageminus.png') 18 18, auto;
        }
    }
}

#gallery section:not(.fin) {
    .imgcontainer,
    .explainbox {
        cursor: url('https://snuup.github.io/img/messageplus.png') 18 18, auto;
    }
}

body:not(.showexplain) {
    #gallery {
        img {
            opacity: 1 !important;
        }
        .imgcontainer {
            filter: brightness(100%) !important;
        }
    }
}

// gallery toggle
body:not(.showgallery) {
    #gallery {
        opacity: 0;
        pointer-events: none;
    }
    #leftfield,
    #rightfield {
        visibility: hidden;
    }
}

body.showgallery {
    #gallery {
        opacity: 1;
    }
    overflow-y: hidden;
}

#gallery {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 10;

    transition: opacity 350ms ease-out, background 1500ms;

    // images
    display: grid;
    grid-template-columns: repeat(23, 100vw);

    // scroll snap
    overflow-x: scroll;
    overflow-x: overlay;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    // visuals
    background: rgb(62, 68, 75);

    section {
        position: relative; // container for explanation
        scroll-snap-align: start;

        nav {
            position: absolute;
            left: 0;
            z-index: 200;
            user-select: none;
            pointer-events: none;

            span {
                display: inline-block;
                border-radius: 3px;
                color: var(--navforeground);
                &.fut // future
                {
                    color: var(--navfutforeground);
                }
                &.hide {
                    visibility: hidden;
                }
            }
        }

        .imgcontainer {
            position: absolute;
            left: 0;
            right: 0;
            top: 56px;
            bottom: 34px;

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            transition: filter 450ms;

            //   &:hover {
            //     outline: solid 4px red;
            // }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &.viennageo {
            .imgcontainer {
                filter: brightness(75%);
                img {
                    max-width: 1800px;
                    max-height: 900px;
                }
            }
            .explain {
                max-width: 40ch;
                column-count: 1;
            }
        }

        &.tv {
            .imgcontainer {
                filter: brightness(75%);
                img {
                    max-width: 1960px;
                    max-height: 1140px;
                }
            }
        }

        &.ffoqsi1 {
            .imgcontainer {
                filter: brightness(75%);
                img {
                    max-width: 1900px; // allow enlarging, the crispy effect makes it smooth and there is a link to the page anyway
                    max-height: 1200px;
                }
            }
            .explain {
                column-count: 2;
            }
        }

        &.ffoqsi2 {
            .imgcontainer {
                filter: brightness(85%);
                img {
                    max-width: 1920px;
                    max-height: 1040px;
                }
            }
            .explain {
                column-count: 2;
            }
        }

        &.discretelogics {
            .imgcontainer {
                filter: brightness(75%);
            }
            img {
                max-width: 1600px;
                max-height: 900px;
            }
            .explain {
                column-count: 2;
            }
        }

        &.toolwindow {
            .imgcontainer {
                img {
                    padding: 0; // no padding needed because of form of the image
                    max-width: 392px;
                    max-height: 847px;
                }
            }
            .explain {
                column-count: unset;
            }
        }

        &.klimpt {
            .imgcontainer {
                filter: brightness(75%);
                img {
                    max-width: 1600px;
                    max-height: 900px;
                }
            }
            .explain {
                column-count: unset;
            }
        }

        &.tacidonotes {
            .imgcontainer {
                filter: brightness(75%);
                img {
                    max-width: 960px;
                    max-height: 720px;
                }
            }
            .explain {
                column-count: unset;
            }
        }

        &.sputnik-1,
        &.sputnik-2 {
            .imgcontainer {
                img {
                    max-width: 1572px;
                    max-height: 900px;
                }
            }
            .explain {
                column-count: 2;
            }
        }

        &.sputnik-3,
        &.sputnik-4,
        &.sputnik-5,
        &.sputnik-6 {
            .imgcontainer {
                img {
                    max-width: 1572px;
                    max-height: 900px;
                }
            }
            .explain {
                column-count: unset;
            }
        }

        &.sputnik-3 {
            .explain {
                max-width: 40ch;
            }
        }

        &.sputnik-7 {
            .imgcontainer {
                img {
                    max-width: 1200px; // scale a bit up
                    max-height: 600px; // scale a bit up
                }
            }
            .explain {
                column-count: unset;
            }
        }

        &.ba1 {
            .imgcontainer {
                filter: brightness(75%);
                img {
                    max-width: 1132px; // scale a bit up
                    max-height: 830px; // scale a bit up
                }
            }
            .explain {
                column-count: unset;
            }
        }
        &.ba2 {
            .imgcontainer {
                filter: brightness(75%);
                img {
                    max-width: 1152px; // scale a bit up
                    max-height: 840px; // scale a bit up
                }
            }
            .explain {
                column-count: unset;
            }
        }
        &.ba3 {
            .imgcontainer {
                filter: brightness(75%);
                img {
                    max-width: 1108px;
                    max-height: 837px;
                }
            }
            .explain {
                column-count: unset;
            }
        }

        &.chroma1,
        &.chroma2 {
            img {
                max-width: 1600px;
                max-height: 1177px;
            }
            .explain {
                column-count: unset;
            }
        }

        &.chroma3 {
            img {
                max-width: 1920px;
                max-height: 1280px;
            }
            .explain {
                column-count: unset;
                max-width: 60ch;
                li:not(:last-child) {
                    margin-bottom: 1.5em;
                }
            }
        }

        &.chroma4 {
            img {
                max-width: 1680px;
                max-height: 1026px;
            }
            .explain {
                column-count: unset;
            }
        }
    }
}

body[slidename='viennageo'] #gallery {
    background: rgb(77, 58, 58);
}
body[slidename='tv'] #gallery {
    background: #423a42;
}
body[slidename='ffoqsi1'] #gallery {
    background: #423d32;
}
body[slidename='ffoqsi2'] #gallery {
    background: #423d32;
}
body[slidename='discretelogics'] #gallery {
    background: #36312c;
}
body[slidename='toolwindow'] #gallery {
    background: rgb(60, 65, 66);
}
body[slidename='klimpt'] #gallery {
    background: #615651;
}
body[slidename='tacidonotes'] #gallery {
    background: #57504a;
}
body[slidename='sputnik-1'] #gallery {
    background: #57504a;
}
body[slidename='sputnik-2'] #gallery {
    background: #3d383a;
}
body[slidename='sputnik-3'] #gallery {
    background: #3d383a;
}
body[slidename='sputnik-4'] #gallery {
    background: #3d383a;
}
body[slidename='sputnik-5'] #gallery {
    background: #3d383a;
}
body[slidename='sputnik-6'] #gallery {
    background: #3d383a;
}
body[slidename='sputnik-7'] #gallery {
    background: #3d383a;
}
body[slidename='ba1'] #gallery {
    background: #2b2d35;
}
body[slidename='ba2'] #gallery {
    background: #2b2d35;
}
body[slidename='ba3'] #gallery {
    background: #2b2d35;
}
body[slidename='chroma1'] #gallery {
    background: #49434d;
}
body[slidename='chroma2'] #gallery {
    background: #6b6150;
}
body[slidename='chroma3'] #gallery {
    background: #685f50;
}
body[slidename='chroma4'] #gallery {
    background: #5e574b;
}
body[slidename='fin'] #gallery {
    transition: background 5000ms; // slow darkening at end
    background: #333;
}

.strike {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    white-space: pre;
}

.sticky {
    display: inline-block; // (!) otherwise the sticky element fills the container and cannot move inside that container and not stick anymore
    position: sticky;
    left: 0;
    font-size: 150%;
    span {
        padding: 0 0.5ch;
        margin: 0.5ch;
    }
}

#gallery {
    // webkit
    &::-webkit-scrollbar {
        width: 100px;
        height: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        &:hover {
            background: #fff;
        }
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.2);
    }

    // firefox
    scrollbar-color: white rgba(198, 226, 74, 0);
    scrollbar-width: 350px;
}

#rewind {
    text-decoration: underline;
    cursor: pointer;
}

.chevron {
    fill: #ccc;
}

#btnclose {
    position: fixed;
    right: 18px;
    top: 12px;
    z-index: 11; // gallery is 10
    width: 20px;
    height: 20px;
    stroke: white;
    stroke-width: 12;

    cursor: pointer;

    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

#leftfield {
    left: 0;
    //background: orange;
    opacity: 0.2;
}

#rightfield {
    right: 0;
    //background: yellowgreen;
    justify-items: right;
}

#leftfield,
#rightfield {
    position: fixed;
    width: 5vw;
    min-width: 60px;
    top: 25%;
    bottom: 25%;
    z-index: 11; // gallery is 10

    display: grid;
    align-items: center;
    padding: 4ch;

    cursor: pointer;
    //background: olive;
    opacity: 0.2;
    &:hover {
        opacity: 1;
    }

    // background: unset; // debug aid
}

body[slide='0'] {
    #leftfield {
        visibility: hidden;
    }
}
body[slidename='fin'] {
    #rightfield {
        visibility: hidden;
    }
}

// touch devices
@media (hover: none) {
    #leftfield,
    #rightfield {
        display: none;
    }
}

ul {
    padding-inline-start: 2ch;
    list-style-type: '- ';
    margin-top: 0;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    color: #333;
    display: inline-block;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    margin-right: 6px;
}

table {
    td {
        padding: 0.5em;
    }
}

section.fin {
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;

    .end-text {
        font-size: large;
        flex: 2 1 auto;
        text-align: center;
        padding: 0 20vw;
        width: 100%;
        box-sizing: border-box;

        // each item is another flex container for vertical centering
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .controls {
        flex: 1 1 auto;
        color: #ccc;

        // each item is another flex container for vertical centering
        display: flex;
        justify-content: center;
        align-items: flex-start;

        table {
            table-layout: fixed; // does not make a difference, but its the cool property value
            border-collapse: collapse;
            td {
                border: dotted 1px #aaa;
                text-align: left;
                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}
