@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/RobotoMono-Medium.ttf) format('woff2');
}

$base-font-size: 16px;

body {
    margin: 0; // reset

    font-size: $base-font-size;
    font-family: 'Roboto Mono', courier; // this is very very different from 2 separate font-family tags !!!
    line-height: 1.5;

    color: #333;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-size: inherit;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1.5em; // = 1 line-height
}

a {
    color: inherit; // links shall inherit colors like other elements
}

.gallerylink {
    position: relative; // stacking context

    img {
        opacity: 0.85;
    }

    svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        fill: #555;
        opacity: 1;
        transition: opacity 250ms;
        background: #fff;
        opacity: 0.75;
        padding: 4px;
    }

    &:hover {
        img {
            opacity: 1;
        }
        svg {
            opacity: 1;
        }
    }
}

body {
    background: #333;
}

#overview {
    max-width: 110ch;
    background: url(../img/back4.jpg); // tbd -> cloudinary
    margin: auto;
    padding: 0 4ch 10rem 4ch;

    header {
        //margin-bottom: 12rem;
        h1 {
            font-family: courier;
            font-size: 400%;
            font-weight: 700;
            text-align: right; // "works"
            padding-top: 1em;
            margin-bottom: 2rem;
        }
        h2 {
            //font-size: 150%;
            text-align: right;
        }
        p {
            margin: 0;
        }
        cite {
            margin-top: 3rem;
            display: block;
        }
        margin-bottom: 6rem;
    }

    .img-1-1 {
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .img-3-2 {
        width: 100%;
        aspect-ratio: 3 / 2;
    }

    section {
        margin-top: 10rem;
        position: relative;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #eee;
            opacity: 0.4;
        }

        .content {
            position: relative;
            column-count: 3;
            gap: 2rem;
        }

        & > h3 {
            display: none;
        }

        img {
            display: block;
            width: 100%;
            cursor: pointer;
        }
    }

    // #tv {
    //     .gallerylink {
    //         // svg {
    //         //     bottom: 15px;
    //         //     top: unset;
    //         //     fill: #594661;
    //         // }
    //     }
    // }

    // #ffoqsi {
    //     .gallerylink {
    //         svg {
    //             background: white; // since opacity makes it halftransparent, helps only a bit to avoid collision with image
    //             fill: #7a714e;
    //         }
    //     }
    // }

    // #discretelogics {
    //     .gallerylink {
    //         svg {
    //             bottom: 15px;
    //             top: unset;
    //             fill: #c29720;
    //         }
    //     }
    // }

    // #toolwindow {
    //     .gallerylink {
    //         svg {
    //             bottom: 15px;
    //             top: unset;
    //             fill: #366a88;
    //         }
    //     }
    // }

    // #klimpt {
    //     .gallerylink {
    //         svg {
    //             right: 25px;
    //             top: 80px;
    //             fill: maroon;
    //         }
    //     }
    // }

    // #tacidonotes {
    //     $color: #000;
    //     .gallerylink {
    //         svg {
    //             fill: $color;
    //         }
    //     }
    // }

    // #sputnik4 {
    //     .gallerylink {
    //         svg {
    //             fill: #fff;
    //         }
    //     }
    // }

    // #ba {
    //     .gallerylink {
    //         svg {
    //             fill: #000;
    //             top: unset;
    //             bottom: 25px;
    //         }
    //     }
    // }

    // #chroma {
    //     .gallerylink {
    //         svg {
    //             fill: #fff;
    //         }
    //     }
    // }
}

// svg icons
.fa-external,
.fa-pdf,
.fa-github {
    width: 2ch;
    height: 1em;
    position: relative;
    top: 3px;
}

#gallery {
    display: none;
}

// sub ipad
@media (max-width: 960px) {
    .content {
        column-count: 2 !important;
    }
}

// phones
@media (max-width: 600px) {
    body {
        //background: lightseagreen;
        font-size: 17px;
        line-height: 1.7rem;
    }

    #overview {
        header {
            h1 {
                font-size: 250%;
            }
            h2 {
                //font-size: unset;
                p {
                    margin-bottom: 0;
                }
            }
        }
        padding: 0 1ch 4rem 1ch;
        background: #fff;
        section {
            margin-top: 4rem;
            & > h3 {
                display: flex;
                $color: #83557b;
                color: $color;
                font-weight: bold;

                background: white;
                div:first-child {
                    color: $color;
                }
                div:last-child {
                    flex-grow: 1;
                    margin: 5px 0 4px 5px;
                    background: $color;
                }
                //background: white;
                //margin: .5rem 0;
                padding: 0.25rem 0 1rem 0;
                position: sticky;
                top: 0;
                z-index: 1;
            }
            .content h3 {
                display: none;
            }
            .bg {
                background: unset;
            }
        }
    }

    .content {
        column-count: unset !important;
        .gallerylink {
            //width: 100%;
            //background: orange;
            display: grid;
            place-items: center;
            img {
                max-width: 330px;
            }
        }
    }

    #gallery {
        .controls {
            display: none; // no need to show controls on small devices
        }
        .end-text {
            text-align: center;
        }
        .num {
            display: none;
        }
        .explainbox {
            display: none;
        }
    }

    section#tv {
        & > h3 {
            $color: #83557b;
            color: $color;
            div:first-child {
                color: $color;
            }
            div:last-child {
                background: $color;
            }
        }
    }
    section#ffoqsi {
        & > h3 {
            $color: #6b5d32;
            color: $color;
            div:first-child {
                color: $color;
            }
            div:last-child {
                background: $color;
            }
        }
    }
    section#discretelogics {
        & > h3 {
            $color: #ac5b19;
            color: $color;
            div:first-child {
                color: $color;
            }
            div:last-child {
                background: $color;
            }
        }
    }
    section#toolwindow {
        & > h3 {
            $color: #325072;
            color: $color;
            div:first-child {
                color: $color;
            }
            div:last-child {
                background: $color;
            }
        }
    }
    section#klimpt {
        & > h3 {
            $color: #5a3023;
            color: $color;
            div:first-child {
                color: $color;
            }
            div:last-child {
                background: $color;
            }
        }
    }
    section#tacidonotes {
        & > h3 {
            $color: #555;
            color: $color;
            div:first-child {
                color: $color;
            }
            div:last-child {
                background: $color;
            }
        }
    }
    section#sputnik4 {
        & > h3 {
            $color: #603f61;
            color: $color;
            div:first-child {
                color: $color;
            }
            div:last-child {
                background: $color;
            }
        }
    }
    section#ba {
        & > h3 {
            $color: #35395c;
            color: $color;
            div:first-child {
                color: $color;
            }
            div:last-child {
                background: $color;
            }
        }
    }
    section#chroma {
        & > h3 {
            $color: #5a4824;
            color: $color;
            div:first-child {
                color: $color;
            }
            div:last-child {
                background: $color;
            }
        }
    }
}
